@page
@model ExampleWebSite.Pages.MakeCallModel
@{
}
<form method="post" >
    <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" name="Caller" id="Caller">
        @foreach (var user in Model.Users)
        {
            <option>@user.RealName</option>
        }
    </select>
    </div>
    <div class="form-group">
    <label for="PhoneNumber">Client number</label>
    <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Number">
    </div>

    <button type="submit" class="btn btn-primary">начать звонок</button>
</form>