@page
@model ExampleWebSite.Pages.UsersModel
@{
}
<table>
    <thead>
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Номер</th>
            <th scope="col">Номер телефона</th>
        </tr>
    </thead>
    <tbody>
      @foreach(var user in Model.Users)
        {
           <tr>
                <td>@user.Name</td>
                <td>@user.RealName</td>
                <td>@user.Ext</td>
                <td>@user.Telnum</td>
            </tr> 
        }
    </tbody>
</table>